$input-bg: #11052C;
$btn-bg: #FFE459;

.todoForm{
    width: 100%;
    display: flex;
    .todoInput{
        flex-grow: 1;
        padding: 10px 20px;
        background-color: $input-bg;
        outline: none;
        border: none;
        color: #fff;
        border-radius: 5px 0 0 5px;
    }
    .todoInsertBtn{
        padding: 10px 20px;
        background-color: $btn-bg;
        outline: none;
        border: none;
        color: #fff;
        border-radius: 0 5px 5px 0;
    }
}
