body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App{
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width:1000px){
  .App { width: 30rem; }
}

@media only screen and (max-width:700px){
  .App { width: 20rem; }
}