$bg: #dbdbdb;
$trash: #F43B86;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;

    .countContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .badge {
            padding: 5px 10px;
            background-color: $bg;
            color: #000;
            margin-right: 20px;
            border-radius: 50%;
            font-weight: bold;
            font-size: .8rem;
        }

       


    }

    .title {
        font-weight: bold;
        color: $bg;

        @media only screen and (max-width:1000px){
            font-size: .8rem;
        }
    }

    .AppTitle {
        color: $bg;
        margin-bottom: 1rem;
        font-size: 2rem;

        @media only screen and (max-width:1000px){
            font-size: 1.5rem;
        }

        @media only screen and (max-width:800px){
            font-size: 1rem;
        }
    }
}