$bg: #082032;
$trash: #FF4C29;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1rem;

    
    .title {
        font-weight: 400;
        color: #000;

        @media only screen and (max-width:1000px){
            font-size: .8rem;
        }

        
        @media only screen and (max-width:700px){
            font-size: .7rem;
        }
    }

    .AppTitle {
        color: #63abe2;
        margin-bottom: 1rem;
        font-size: 2rem;

        align-self: flex-start;

        @media only screen and (max-width:1000px){
            font-size: 1.5rem;
        }

        @media only screen and (max-width:800px){
            font-size: 1rem;
        }
    }

    .countContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .badge {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #63abe2;
            color: #fff;
            margin-right: 20px;
            border-radius: 50%;
            font-weight: 400;
            font-size: 1rem;
            @media only screen and (max-width:1000px){
                margin-right: 10px;
                font-size: .8rem;
            }
            @media only screen and (max-width:700px){
                // font-size: .5rem;
                width: 20px;
                height: 20px;
                padding: 2.5px 5px;
                margin-right: 5px;
            }
        }

       


    }

}