.selectContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    .selectBox{
        width: 10rem;
        color: #000;

        @media only screen and (max-width:1000px){
            width: 8rem;
        }
    }
}