$trash: #dbdbdb;
$pencil: #FFE459;

.selectContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    label{
        margin-right: 7px;
        font-weight: bold;
        color: $trash;
    }

    .selectBox{
        width: 10rem;
        color: #000;
    }
}